<web-app>
    <servlet>
        <servlet-name>validateLogin</servlet-name>
        <servlet-class>validateLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validateLogin</servlet-name>
        <url-pattern>/validateLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>validateRegister</servlet-name>
        <servlet-class>validateRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validateRegister</servlet-name>
        <url-pattern>/validateRegister</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getBooks</servlet-name>
        <servlet-class>getBooks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getBooks</servlet-name>
        <url-pattern>/getBooks</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>purchase</servlet-name>
        <servlet-class>purchase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>purchase</servlet-name>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>returnBook</servlet-name>
        <servlet-class>returnBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>returnBook</servlet-name>
        <url-pattern>/returnBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>submitBook</servlet-name>
        <servlet-class>submitBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>submitBook</servlet-name>
        <url-pattern>/submitBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>fineInsert</servlet-name>
        <servlet-class>fineInsert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fineInsert</servlet-name>
        <url-pattern>/fineInsert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>displayFine</servlet-name>
        <servlet-class>displayFine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>displayFine</servlet-name>
        <url-pattern>/displayFine</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>payFine</servlet-name>
        <servlet-class>payFine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>payFine</servlet-name>
        <url-pattern>/payFine</url-pattern>
    </servlet-mapping>
</web-app>
